*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures

.idea/*

app/src/debug/res/values/google_maps_api.xml
/gradle.properties
app/src/main/res/values/google_maps_api.xml

